.day {
  position: relative;
  width: calc(100% / 7);
  margin: 10px 0;
  color: #46244b;
  z-index: 1;
  cursor: pointer;
  &--inactive {
    color: grey;
    font-weight: normal;
  }
  &--today {
    font-size: 22px;
    color: #db2a85;
    text-shadow: 1px 1px 2px rgb(179, 121, 174);
  }
  &:hover:after {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: rgb(179, 121, 174);
  }
}
